
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import 'react-rater/lib/react-rater.css';

/* base styles */
* {
  font-family: "Quicksand";
}
body{
  margin: 0;
  padding: 0;
}
.search-box{
  position: absolute;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #CD5C5C;
  height: 40px;
  border-radius: 40px;
  padding: 10px;

}
.app-table{
  margin: 100px;
  transform: translate(50%,50%);

}
.search-box:hover > .search-txt{
  width: 240px;
  padding: 0 6px;
  top: 50px;
  color: #f2f2f2;
}
.search-box:hover > .search-btn{
 background: #f2f2f2;
 color: #CD5C5C;
   }
.search-btn{
  color: #f2f2f2;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #CD5C5C;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  text-decoration: none;
  border: none;
}
::placeholder{
  color: #f2f2f2;
}
.search-txt{
border: none;
background: none;
outline: none;
float: left;
padding: 0;
color: #CD5C5C;
font-size: 16px;
transition: 0.4s;   
line-height: 40px;
width: 0px;
color: #f2f2f2;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  max-width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar h1 {
  color: #CD5C5C;
  font-weight: bold;
}

.navbar .links {
  margin-left: auto;
  list-style: none;
}

.app-link {
  transition: all 0.3s ease 0s;
  font-weight: 900;
  color: #CD5C5C;
  font-family: "Quicksand";
}
.app-link:hover{
  transform: scale(1.25);
}

/* .home .app-link:hover{
  
  transform: scale(1.5);

} */
/* .home .app-button{
  padding: 9px 25px;
  background-color: rgb(205, 92, 92);
  border: none;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  color: #f2f2f2;
  font-weight: bold;
}
.home .app-button:hover{
  background-color: rgb(175, 84, 84);
  transform: scale(1.15);
} */

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  background-color: #CD5C5C;
  color: white;
  border-radius: 50px;
  
}

.content {
  max-width: 100%;
  align-items: center;
  margin: 40px auto;
  padding: 20px;
  text-align: center;
}

/* .home .search-input {
  width: 100px;
  transition: width .35s ease-in-out;
  box-sizing: border-box;
  height: 38px;
}

.home .search-input :focus {
  width: 250px;
  border-radius: 50px;
} */


.fav-btn{
  background: transparent;
  border: none;
  margin: 50px;
  font-size: 51px;
  outline: none;
  color: grey;
  transition: width .35s ease-in-out;
}

.fav-btn i:hover{
  cursor: pointer;
  transform: scale(1.25);

}